<aside id="aside">
    <section class="blog">
        {{#if @blog.description}}<section class="blog--about">
            <h3 class="title">Acerca de {{@blog.title}}</h3>
            <p class="description">
                {{@blog.description}}
            </p>
        </section>{{/if}}

        {{!> social}}


        {{!> newsletter }}

    </section>

    {{!> ads}}

    <section class="social">
      <div class="fb-page" data-href="https://www.facebook.com/mateteblog/" data-tabs="timeline" data-width="260" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/mateteblog/"><a href="https://www.facebook.com/mateteblog/">Matete</a></blockquote></div></div>
    </section>

    <section>
      <h3 class="label">Compartir</h3>
      <div class="icons">
          <a class="icon" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" target="_blank">
              <i class="fa fa-facebook"></i>
          </a>
          <a class="icon" href="https://plus.google.com/share?url={{url absolute="true"}}" target="_blank">
              <i class="fa fa-google-plus"></i>
          </a>
          <a class="icon" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" target="_blank">
              <i class="fa fa-twitter"></i>
          </a>
      </div>
    </section>


</aside>
