<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{{meta_title}}</title>
        <meta name="description" content="{{meta_description}}">

        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{asset "css/ellie2.min.css"}}">
        <link rel="stylesheet" href="{{asset "css/magula.min.css"}}">
        {{ghost_head}}
    </head>
    <body class="{{body_class}} {{post_class}}">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {{> header}}

        <div id="content">
            <div class="wrapper">
            {{{body}}}
            </div>
        </div>

        {{ghost_foot}}

        {{^is "post"}}
        <script src="{{asset "js/imagesloaded.pkgd.min.js"}}"></script>
        <script src="{{asset "js/masonry.pkgd.min.js"}}"></script>
        {{/is}}
        <script src="{{asset "js/highlight.pack.js"}}"></script>
        <script src="{{asset "js/ellie.min.js"}}"></script>

        {{!> disqus_count}}

        {{!> google-analytics}}
    </body>
</html>
